.cpass-whole{
    background-image: url('../assert/threesum.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 745px;
}
.cpass_box_9{
    position: absolute;
    margin-top: 3%;
    margin-left: 30%;
    height: 400px;
    width: 600px;
}
.cpass_paper_10{
    padding: 13%;
}